/*@keyframes beat{
    to{transform: scale(1.1)}
}*/
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  min-width: 23.4375rem;
}

a {
  text-decoration: none;
}

.nav-bar {
  position: relative;
}

.start-btn, .game-exit {
  width: 7.5rem;
  height: 2.8125rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0.875rem;
  border-radius: 0.5rem;
  background: #7ac38f;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03125rem;
  box-shadow: 0 4px 10px -6px #000;
}

.game-exit {
  position: absolute;
  transform: translate(-50%, 100%);
  top: 50%;
  left: 50%;
}

.start-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #88e0d0;
}
.start-container .question-mark {
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
  width: 4.375rem;
  height: 4.375rem;
}
.start-container__title {
  font-size: 2.625rem;
  font-weight: 700;
  font-family: "Bungee", cursive;
  -webkit-text-stroke: 0.1875rem #000000;
  text-shadow: 0.3125rem 0.3125rem 0rem #000000;
  text-transform: uppercase;
  color: #c7eeff;
  text-align: center;
  margin: 2rem;
}
.start-container__content h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.guess-container {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #c7eeff;
}
.guess-container__title {
  font-size: 2.25rem;
  text-align: center;
  margin: 2rem 0;
}
.guess-container .guess-me {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px -5px #000;
}
.guess-container .guess-me .btn-group {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  margin-top: 5rem;
}
.guess-container .guess-me .btn-group button {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.625rem;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  background-color: #262727;
  color: #fff;
}
.guess-container .guess-me .wrong, .guess-container .guess-me .correct {
  margin-top: 1rem;
}
.guess-container .guess-me .wrong {
  font-weight: 700;
  text-align: center;
  color: #ff0000;
  font-size: 1.5rem;
}
.guess-container .guess-me .correct {
  font-weight: 700;
  text-align: center;
  color: #008000;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
  .start-btn, .game-exit {
    transition: all 250ms ease-in-out;
  }
  .start-btn:not([disabled]):hover, .game-exit:not([disabled]):hover {
    cursor: pointer;
    background-color: #fff;
    color: #7ac38f;
    border: 1px solid #7ac38f;
  }
  .guess-container .btn-group button {
    transition: all 250ms ease-in-out;
  }
  .guess-container .btn-group button:not([disabled]):hover {
    background-color: #fff;
    color: #262727;
    border: 1px solid #262727;
  }
}/*# sourceMappingURL=index.css.map */