/*@keyframes beat{
    to{transform: scale(1.1)}
}*/
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.start-container__title, .main-start__title {
  font-size: 2.625rem;
  font-weight: 700;
  font-family: "Bungee", cursive;
  -webkit-text-stroke: 0.1875rem #000000;
  text-shadow: 0.3125rem 0.3125rem 0rem #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem;
}

.start-container__content h2, .main-start__content h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  min-width: 23.4375rem;
}

a {
  text-decoration: none;
}

.nav-bar {
  position: relative;
}

.main-start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c7eeff;
}
.main-start__title {
  color: #7ac38f;
}
.main-start__content__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main-start__content__btns button {
  padding: 0.15rem;
  width: 11.25rem;
  height: 3.75rem;
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03125rem;
  box-shadow: 0 4px 10px -6px #000;
}
.main-start__content__btns__color-gen, .main-start__content__btns__color-game {
  cursor: pointer;
}
.main-start__content__btns__color-gen {
  background: #7ac38f;
  color: #fff;
}
.main-start__content__btns__color-game {
  background: #88e0d0;
  color: #fff;
}

.game-container {
  width: 90%;
  margin: 0 auto;
}
.game-container__block__container__blocks {
  height: 5rem;
  width: 4.375rem;
}
.game-container__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}
.game-container__board .row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.game-container__board .row .col {
  height: 5rem;
}

.game-board-container .game-board {
  height: 100%;
  width: 12.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.game-board-container .game-board__blocks {
  height: 5rem;
  width: 5rem;
}
.game-board-container .game-board__blocks:hover {
  cursor: pointer;
}

.start-btn, .game-exit {
  width: 8.125rem;
  height: 2.8125rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0.875rem;
  border-radius: 0.5rem;
  background: #7ac38f;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03125rem;
  box-shadow: 0 4px 10px -6px #000;
}

.game-exit {
  position: absolute;
  transform: translate(-50%, 100%);
  top: 50%;
  left: 50%;
}

.start-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #88e0d0;
}
.start-container .question-mark {
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
  width: 4.375rem;
  height: 4.375rem;
}
.start-container__title {
  color: #c7eeff;
}
.guess-container {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #c7eeff;
}
.guess-container__title {
  font-size: 2.25rem;
  text-align: center;
  margin: 2rem 0;
}
.guess-container .guess-me {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px -5px #000;
}
.guess-container .guess-me .btn-group {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  margin-top: 5rem;
}
.guess-container .guess-me .btn-group button {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.625rem;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  background-color: #262727;
  color: #fff;
}
.guess-container .guess-me .wrong, .guess-container .guess-me .correct {
  margin-top: 1rem;
}
.guess-container .guess-me .wrong {
  font-weight: 700;
  text-align: center;
  color: #ff0000;
  font-size: 1.5rem;
}
.guess-container .guess-me .correct {
  font-weight: 700;
  text-align: center;
  color: #008000;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
  .main-start__content__btns button {
    transition: all 250ms ease-in-out;
  }
  .main-start__content__btns__color-gen:not([disabled]):hover {
    background-color: #fff;
    color: #7ac38f;
    border: 1px solid #7ac38f;
  }
  .main-start__content__btns__color-game:not([disabled]):hover {
    background-color: #fff;
    border: 1px solid #88e0d0;
    color: #88e0d0;
  }
  .start-btn, .game-exit {
    transition: all 250ms ease-in-out;
  }
  .start-btn:not([disabled]):hover, .game-exit:not([disabled]):hover {
    cursor: pointer;
    background-color: #fff;
    color: #7ac38f;
    border: 1px solid #7ac38f;
  }
  .guess-container .btn-group button {
    transition: all 250ms ease-in-out;
  }
  .guess-container .btn-group button:not([disabled]):hover {
    background-color: #fff;
    color: #262727;
    border: 1px solid #262727;
  }
  .game-container__board .row .col:not([disabled]):hover {
    cursor: pointer;
  }
}/*# sourceMappingURL=index.css.map */