@use "sass:math";

@mixin hover{
    &:not([disabled]):hover{
        @content;
    }
}

@function rem($number){
    @if unitless($number){
        $default-one-rem-in-pixel: 16;

        @return math.div($number, $default-one-rem-in-pixel) * 1rem;
    }

    @error "This '#{number}' must not have a unit";
}

/*@keyframes beat{
    to{transform: scale(1.1)}
}*/

@keyframes spin{
    from{transform: rotate(0deg)};
    to{transform: rotate(360deg)};
}

//colors
$btn: #7ac38f;
$start-bg: #88e0d0;
$game-bg: #c7eeff;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    min-width: rem(375);
}

a{
    text-decoration: none;
}

.nav-bar{
    position: relative;
}

.start-btn{
    width: rem(120);
    height: rem(45);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: rem(14);
    border-radius: rem(8);
    background: #7ac38f;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: rem(0.5);
    box-shadow: 0 4px 10px -6px #000 ;
}

.game-exit{
    position: absolute;
    @extend .start-btn;
    transform: translate(-50%, 100%);
    top: 50%;
    left: 50%;
}



.start-container{
    height: 100vh;
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:  $start-bg;
    .question-mark{
        animation: spin 5s infinite linear;
        width: rem(70);
        height: rem(70);
    }
    &__title{
        font-size: rem(42);
        font-weight: 700;
        font-family: 'Bungee', cursive;
        -webkit-text-stroke: rem(3) #000000;
        text-shadow: rem(5) rem(5) rem(0) #000000;
        text-transform: uppercase;
        color: #c7eeff;
        text-align: center;
        margin: 2rem;
    }
    &__content{
        h2{
            margin-bottom: 1rem;
            font-size: rem(24);
        }
    }
}


.guess-container{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $game-bg;
    &__title{
        font-size: 2.25rem;
        text-align: center;
        margin: 2rem 0;
    }
    .guess-me{
        width: 350px;
        height: 350px;
        margin: 0 auto;
        border-radius: 0.8rem;
        box-shadow: 0 4px 12px -5px #000;
        .btn-group{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            height: 100%;
            margin-top: 5rem;
            button{
                padding: 1rem;
                font-size: 1rem;
                border-radius: 0.625rem;
                letter-spacing: 1px;
                border: none;
                cursor: pointer;
                background-color: #262727;
                color: #fff;

            }
        }
        .wrong, .correct{
            margin-top: 1rem;
        }
        .wrong{
            font-weight: 700;
            text-align: center;
            color: #ff0000;
            font-size: 1.5rem;
        }
        .correct{
            font-weight: 700;
            text-align: center;
            color: #008000;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (min-width: 1200px){
    .start-btn{
        transition: all 250ms ease-in-out;
        @include hover{
            cursor: pointer;
            background-color: #fff;
            color: $btn;
            border: 1px solid $btn;
        }
    }

    .guess-container{
        .btn-group{
            button{
                transition: all 250ms ease-in-out;
                @include hover{
                    background-color: #fff;
                    color: #262727;
                    border: 1px solid #262727;
                }
            }
        }
    }
}